body {
    //background-color: #1C39BB;
}
h1 {
    text-align: center;
    color: black;
    font-family: serif;
    font-size:48px;
    font-weight: bold;
}
header div {
    display: inline-block;
}


.qlik-embed {
    height: 40vh;
    width: 90vw;
    margin-left: 5%;
}
.qvnav{
    background-color: black;

}
